<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Empleados</li>
      <li class="has-submenu">
        <a href="{% url 'persona_app:empleados_all' %}">Listar</a>
      </li>
      <li><a href="#0">Departamentos</a></li>
      <li><a href="#0">Administrar</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="buscar empleados"></li>
      <li><button type="button" class="button">registrar nuevo</button></li>
    </ul>
  </div>
</div>