<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add empleado</title>
</head>
<body>
<h1>registar empleado</h1>
<!-- si pongo solo form va a ser des organizado pero para todo este bien se usa form.as_p-->

<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>

</form>
</body>
</html>