<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buscar empleados</title>
</head>
<body>
<h1>buscar los empleados por palabra clave</h1>
<form method="get">{% csrf_token %}
    <input type="text" id="kword" name="kword" placeholder="ingrese nombre aqui">
    <button type="submit">buscar</button>
</form>

<h2>lista de resultados</h2>
    {% for item in empleados %}
        <li>{{ item }}</li>
    {% endfor %}
</body>
</html>