<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ver empleado</title>
</head>
<body>
<h1>detalles de un empleado {{ titulo }}</h1>

{{ empleado }}

<h2> todos los detalles</h2>
<p>{{ empleado.first_name }}</p>
<p>{{ empleado.last_name }}</p>
<p>{{ empleado.job }}</p>
<p>{{ empleado.departamentos }}</p>
<p>{{ empleado.habilidad }}</p>
<p>{{ empleado.hoja_vida }}</p>
</body>
</html>