<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lista de habilidades</title>
</head>
<body>
<h1>buscar los empleados por palabra clave</h1>
<form method="get">{% csrf_token %}
    <input type="text" id="id" name="id" placeholder="ingrese el id aqui">
    <button type="submit">buscar</button>
</form>
<h1>lista de habilidades</h1>
{% for item in habilidades %}
 <li> {{ item }}</li>
{% endfor %}

</body>
</html>