<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lista por depar</title>
</head>
<body>
<p>lista de empleados por area</p>
{% for item in object_list%}
        <li>
        {{ item }}
        </li>
    {% endfor %}
</body>
</html>