<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list by job</title>
</head>
<body>
<H1>lista de todos los empleados by jobs</H1>
<!-- con ayuda de object_listpodemos hacer una lista de archivos sin definir el content_objet_name en la view -->
<ul>
    {% for item in object_list%}
        <li>
        {{ item }}
        </li>
    {% endfor %}
</body>
</html>