{% extends 'base.html' %}
{% block content %}
{% include 'includes/header.html' %}
    <div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">lista empleados</h1>
    </div>
    <div class="cell grid-x grid-margin-x">
        <div class="cell large-7">
            <input type="text" placeholder="buscar empleado">
        </div>
        <div class="cell large-2">
            <button class="submit success button">buscar</button>
        </div>
    </div>
    <div class="cell">
        <table>
          <thead>
            <tr>
              <th width="200">Id</th>
              <th> NOMBRES </th>
              <th width="150">APELLIDOS</th>
              <th width="150">DEPARTAMENTO</th>
                <th width="150">ACCION</th>
            </tr>
          </thead>
          <tbody>
          {% for item in object_list%}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.first_name }}</td>
              <td>{{ item.last_name }}</td>
              <td>{{ item.departamentos }}</td>
                <td><a class="button warning" href="#">ver</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    </div>

{% endblock %}