<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registrar departamento</h1>
<form method="post" >
    {% csrf_token %}
    <h2>datos empleados</h2>
    <p>
        {{ form.nombre }}
    </p>
    <p>
        {{ form.apellido }}
    </p>
    <h3>datos deparatamentos</h3>
    <p>
        {{ form.departamentos }}
    </p>
    <p>
        {{ form.shortname }}
    </p>
    <button type="submit">guardar</button>

</form>

</body>
</html>