{% extends 'base.html' %}
{% load static %}
{% block title %} pagina de incio{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
    <!--inicio de la imagen de portada-->
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/jaja.jpg' %}" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/pasted-image.jpg' %}" alt="Space">
          <figcaption class="orbit-caption">Lets Rocket!</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>

    <!--fin de la imagen de portada-->
    <!--bloque de bbienvenida-->
    <div class="grid-x align-center">
    <h1 class="cell large-8" style="front-size:20; text-align:center;">Bienvenidos al sistema de registro!</h1>
    <div class="cell large-7">
        <div class="callout success">
        <h5>This is a secondary callout</h5>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
        <a href="#">ver empleados</a>
        </div>
    </div>
    </div>


{% endblock content %}