<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>

<h1>probando create view</h1>
<!-- asi usa el formulario predeterminado -->
<form method="post" >{% csrf_token %}
    {{form.as_p}}
    <button type="submit">guardar</button>
</form>

</body>
</html>