<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista prueba</title>
</head>
<body>
<h1>Lista prueba</h1>

{% for element in lista  %}

    <p>
    {{ element.titulo }} - {{ element.cantidad }}
    </p>

{% endfor %}

</body>
</html>