<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
<h1>resumen fundation</h1>
<div class="grid-x" style="border: 1px solid green;">
    <h2 class="cell large-4" style="border:1px solid blue;">elemento 1</h2>
    <h2 class="cell large-4" style="border:1px solid red;">elemento 2</h2>
    <h2 class="cell large-4" style="border:1px solid #1673b1;">elemento 3</h2>
    <div class="cell large-4 grid-x" style="border:1px solid darkviolet">

    <h2 class="cell large-5" style="border:1px solid rosybrown;"> 2</h2>
    <h2 class="cell large-5" style="border:1px solid  black;">3</h2>


    </div>
</div>
</body>
</html>